<%- include('./partials/header-container'); -%>
<body>
  <div class="container">
    <%- include('./partials/nav-container'); -%>
    <%- include('./partials/title-container'); -%> 
    <%- include('./partials/status-container'); -%>
  </div>
  <!-- <div class="container">
    <%- include('./partials/details-container'); -%>
  </div> -->
  <%- include('./partials/credits-container'); -%>
</body>
<%- include('./partials/footer-container'); -%>