<%- include('./partials/header-container'); -%>
<body>
  <div class="container">
    <%- include('./partials/nav-container'); -%>
    <%- include('./partials/terms-container'); -%>
  </div>
  <%- include('./partials/credits-container'); -%>
</body>
<%- include('./partials/footer-container'); -%>